
body{   
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    background-image: url("../img/pexels-snapwire-412842.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

body h1{
    font-size: 48px;
    color: white;
    text-align: center;
}

#block1{
    color: white;
    width:auto;
    float:left;
    font-size: 24px;
}

#block2{
    color: white;
    clear:none;
}

#block2 span{
    font-size: 24px;
    display:block;
    clear: inherit;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media (max-width: 1200px){
    #block1{
        width:100%;
    }
}
