#logo-table{
  clear: none;
color: blue;
position: relative;
display: inline;
bottom: 0.8em;
font-size: 1.2em;
  margin-left: 20%;
}

.header{
position: sticky;
font-size: 48;
padding: 1em;
height: 0.98em;
top: 0px;
width: 100%;
background-color: white;
color: white;
box-shadow: 0px 3px #dedede;
font-family: 'Cairo', sans-serif;
z-index: 2;
}

.nav{
  text-align: right;
position: relative;
margin-right: 5%;
bottom: 3.2em;
	position: relative;
	bottom: 4.6em;
	
}
.nav a {
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.nav a:hover {
background-color: #ebebeb;
color: black;
}

.nav a.active {
background-color: #8ad2ff;
color: white;
}

#page-banner{
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url("../img/pexels-neale-lasalle-631477.jpg");   
    padding: 50px 0;
 }

 .menu ul{
   list-style: none;
   margin: 0px;
   padding: 0px; 
   width: 50%;
   background-color:grey;
   border-radius: 10px;
   display: inline-block;
 }

 .menu a {
   text-decoration:none;
   padding: 10px 20px;
   line-height: 1.5em;
   text-align: center;
   color: white;
   display: block;
 }  

 .menu a:hover{
   background-color: lightgreen;
 }

 .menu .sub{
   position: absolute;
   background-color: grey;
   box-shadow: 10px 10px 5px black;
 }

 .menu .sub a:hover{
   background-color: lightblue;
 }

 .menu .sub li{
   height: 0px;
   overflow: hidden;
   transition: height 500ms;
 }

 .menu ul li:hover .sub li {
   height: 40px;    
 }

 #textDiv {
   width : auto;
   height: auto;
   overflow: auto;
 }

 @media (max-width: 1200px) {
   .menu ul{
      width: 100%;
   }

 }


.footer{
	width: 100%;
	bottom: 0px;
	
	background: white;
	padding:40px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em ;
}



.footer-img{
  margin: auto;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
	text-align: center;
	padding: 12px;
	width: auto;
	height: auto;
	width: 100%;
}