
body{   
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    background-image: url("../img/bg1.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

body h1{
    font-size: 48px;
    color: wheat;
    text-align: center;
}

#block1{
    color: white;
    width:auto;
    float:left;
    font-size: 24px;
}

#block2{
    color: white;
    clear:none;
}

#block2 span{
    font-size: 24px;
    display:block;
    clear: inherit;
}

.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

@media (max-width: 1200px){
    #block1{
        width:100%;
    }
}