body{ 
    margin: 0px; 
    font-family: Georgia; 
    line-height: 1.3;
    background-image: url("../img/bgimg.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
 }

 #logo-table{
    clear: none;
	color: blue;
	position: relative;
	display: inline;
	bottom: 0.8em;
	font-size: 1.2em;
    margin-left: 20%;
}

.header{
	position: sticky;
	font-size: 48;
	padding: 1em;
	height: 0.98em;
	top: 0px;
	width: 100%;
	background-color: white;
	color: white;
	box-shadow: 0px 3px #dedede;
	font-family: 'Cairo', sans-serif;
	z-index: 2;
}

.nav{
    text-align: right;
	position: relative;
	margin-right: 5%;
	bottom: 3.6em;

}
.nav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: #ebebeb;
  color: black;
}

.nav a.active {
  background-color: #8ad2ff;
  color: white;
}

 
#page-banner {
    background-image: url("../img/titlebg.jpg");   
    padding: 50px 0;
 }

#page-banner h1 {
    color: rgb(11, 173, 84);
    font-size: 40px;
    margin: auto;
 }


 #head1, #head3 {
    text-align: left;
    color: wheat;
    margin-left:10%;
 }

 #head2, #head4{
    color: wheat;
    margin-right:10%;
    text-align: right;
 }

 
 #part1, #part2, #part3,#part4{
    display: flex ;
 }

#text1,#text3 {
    margin-left: 10%;
    width: 50%;
    font-size: 22px;
    padding: 5px;
    background-image: url("../img/bgimg2.jpg");
    opacity: 0.8;
    color: aliceblue;
}

#text2,#text4 {
    margin-right: 10%;
    width: 50%;
    font-size: 22px;
    padding: 5px;
    color: aliceblue;
    background-image: url("../img/bgimg2.jpg");
    opacity: 0.8;
}

#img1, #img3 {
    
    float: right;
    width: 50%;
}

#img2,#img4 {
    position:relative;
    margin-left: 10%;
    width: auto;
}

#activity {
    height: auto;
    width: auto;
}

#activity h1{
   text-align: center;
   color: wheat;
}

@media (max-width: 1200px) {
    #part1, #part2, #part3, #part4 {
      flex-direction: column;
      
    }

    #head1,#head2 ,#head3,#head4 {
        text-align: left;
        margin-left: 0%;
    }


    #text1,#text3{
        margin-left: 0;
        column-count: 3 ;
        column-gap: 20px;
        width:auto;
    }

    #img2,#img4{
        order:1;
    }

    #text2,#text4{
        order:0;
        width: 100%;
        text-align:left;
    }
  
    #img1,#img2,#img3,#img4 {
        margin-left: 50%;
        margin: 10px 0;
        
    }

  }

  @media (max-width: 650px){
    #text1,#text3{
        margin-left: 0;
        column-count: 2 ;
        column-gap: 20px;
        width:auto;
    }

    #head1,#head2,#head3,#head4 {
        text-align: left;
        margin:auto;
    }
  }

.footer{
	width: 100%;
	bottom: 0px;
	
	background: white;
	padding:40px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em ;
}



.footer-img{
  margin: auto;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
	text-align: center;
	padding: 12px;
	width: auto;
	height: auto;
	width: 100%;
}