@media only screen and (max-width: 500px) {
.content{
 height: 100%;
display: flex;
  margin: 0;
	flex-direction: column;
}

.container{
	margin-top:3em;
	margin-left:1em;
	width: 100%;
	height: 40%;
	flex-grow:1;
	background: #DFDFDF;
    border-radius: 50px;

	
}

.avatar{
	display: block;
	float: left;
	width: 3%;
	height: auto;
}


.info{
	display: flex;
}
	
.student-member{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: auto;
	height: auto;
}

.student-member img {
	margin-left: 5px;
	
}
	
}






.header{
	position: sticky;
	font-size: 48;
	padding: 1em;
	height: 0.98em;
	top: 0px;
	width: 100%;
	background-color: white;
	color: white;
	box-shadow: 0px 3px #dedede;
	font-family: 'Cairo', sans-serif;
	z-index: 2;
}

#logo-table{
	color: blue;
	position: relative;
	display: inline;
	left: 20%;
	bottom: 0.8em;
	font-size: 1.2em;
}
.nav{
	position: relative;
	left: 70%;
	margin-right: 5%;
	bottom: 4.6em;
}
.nav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: #ebebeb;
  color: black;
}

.nav a.active {
  background-color: #8ad2ff;
  color: white;
}

.body {
	flex-wrap: wrap;
	display: flex;
	font-family: 'Roboto', sans-serif;
}

.content{
 height: 100%;
display: flex;
  margin: 0;
}

.container{
	margin-top:3em;
	margin-left:1em;
	width: 25%;
	height: 40%;
	flex-grow:1;
	background: #DFDFDF;
    border-radius: 50px;
}

.avatar{
	display: block;
	float: left;
	width: 40%;
	height: auto;
}

.avatar img{
	border-radius: 50%;
}

.text{
	width: 90%;
	height: auto;
	margin: 2%;
}
.info{
	display: flex;
}
.student-member{
	
	display: flex;
	margin-right: auto;
    margin-left: auto;
	margin-top: 30px;
	width: 80%;
}

.student-member img {
	margin-left: 15px;
	
}

.hr{
	font-size: 2em;
	width: 100%;
	margin-top: 1.3em;
	
}


.footer{
	width: 100%;
	bottom: 0px;
	
	background: white;
	padding:40px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em ;
}



.footer-img{
  margin: auto;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
	text-align: center;
	padding: 12px;
	width: auto;
	height: auto;
	width: 100%;
}
