

#logo-table{
	color: blue;
	position: relative;
	display: inline;
	bottom: 0.8em;
	font-size: 1.2em;
    margin-left: 20%;
}

.header{
	position: sticky;
	font-size: 48;
	height: 0.98em;
	top: 0px;
	width: 100%;
	background-color: white;
	color: white;
	box-shadow: 0px 3px #dedede;
	font-family: 'Cairo', sans-serif;
	z-index: 2;
}

.nav2{
    text-align: right;
	position: relative;
	margin-right: 5%;
	bottom:4.6em;
}

.nav2 a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav2 a:hover {
  background-color: #ebebeb;
  color: black;
}

.nav2 a.active {
  background-color: #8ad2ff;
  color: white;
}

.header{
	font-size: 48;
	padding: 17px;
	height: 10%;
	display: block;
}

.logo{
	display: inline;
	float: left;
	margin-left: 5%;
}
.nav{
	margin-right: 5%;
	float: right;
	text-align: center;
	display: block;
}
.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #4CAF50;
  color: white;
}

.flex-container{
	display:flex;
	width: 100%;

}

#stem-img{
	display: flex;
	background: url("../img/STEM.jpg");
	background-size: cover;
	float: right;
	height: 100vh;
    width: 100%;
 	background-repeat: no-repeat;
}

#reg-header{
	font-size: 1.3em;
	font-weight: bold;
}

#text-In-Img{
    position: absolute;
    top: 20%;
	left: 12%;
    display: inline;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;;
    width: 40%;
	height: auto;
    padding: 4%;
	box-shadow: 15px 10px rgba(0, 0, 0, 0.4);
	font-family: 'Roboto', sans-serif;
}


.footer{
	width: 100%;
	bottom: 0px;
	
	background: white;
	padding:40px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em ;
}



.footer-img{
  margin: auto;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
	text-align: center;
	padding: 12px;
	width: auto;
	height: auto;
	width: 100%;
}
